@font-face {
   font-family: myFirstFont;
   src: url("https://ghproxy.com/https://raw.githubusercontent.com/Rishou04/AaCDN/main/ziti/SmileySans/SmileySans-Oblique.ttf");
}

* {
   font-family: myFirstFont;
}